* {
	.box-sizing(border-box);
}
*:before,
*:after {
	.box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	min-height: 100%;
	position: relative;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: @font-family-base;
	font-size: @font-size-base;
	line-height: @line-height-base;
	color: @text-color;
	background-color: @body-bg;

	margin-bottom: 120px;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.container {
	position: relative;
	.clearfix();
}


// Links

a {
	color: @link-color;
	text-decoration: underline;

	&:hover,
	&:focus {
		outline: none;
		text-decoration: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 700;
}

h1 {
	color: #000;
	font-size: 20px;
	line-height: 22px;
	padding-bottom: 20px;
}

h2 {
	color: #000;
	font-size: 20px;
	line-height: 22px;
	padding-bottom: 20px;
}

h3 {
	color: #000;
	font-size: 20px;
	font-weight: 400;
	line-height: 22px;
	padding-bottom: 20px;
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
